/* Tested on Chrome Version 67.0.3396.87 (64-bit) */

/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- List
- Card
*/

/* List
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.memes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 1.5%;
  margin-top: 15px;
}

/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
  margin-right: 1.5rem;
  transition: all 0.2s;
  z-index: 100;
}

.card:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.05) translateY(-0.5rem);
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card__image,
.card__text {
  display: block;
  pointer-events: none;
}

.card__image {
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.card__text {
  position: absolute;
  width: 100%;
  padding: 3.5% 0 2.5% 0;
  color: #fff;
  font-family: 'Impact';
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000;
  letter-spacing: 0.3rem;
}

.card__text--top,
.card__text--bottom {
  padding: 0 3.5%;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
}

.card__text:last-child {
  bottom: 0;
}
